
<h2>{{user}}</h2>
<div>
    <div class="container-box">
        <div style="width: min-content;">
            <div class="decoration"></div>
            <div class="form-container">
                <h3>Đổi mật khẩu</h3>
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <div>
                      <label for="password">Mật khẩu</label>
                      <input id="password" type="password" formControlName="password">
                    </div>
                  
                    <div>
                      <label for="newPassword">Mật khẩu mới</label>
                      <input id="newPassword" type="password" formControlName="newPassword">
                    </div>
                  
                    <div>
                      <label for="confirmPassword">Xác nhận mật khẩu</label>
                      <input id="confirmPassword" type="password" formControlName="confirmPassword">
                    </div>
                  
                    <button type="submit" class="change-pass-bttn">Lưu</button>
                  </form>
            </div>
        </div>
    </div>
</div>