.nav-bar 
{
    background-color: rgb(255,49,49);
    color: white;
    font-weight: bold;
    display: flex;
}
.nav-bar ul 
{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.nav-logo-items
{
    margin: 0;
    display: inline-block;
    padding: 0rem 1rem 0rem 1rem;
    line-height: 3rem;
}
.nav-items
{
    display: inline-block;
    line-height: 3rem;
    padding: 0rem 1rem 0rem 1rem;
}
.nav-auth-buttons
{
    padding: 0rem 1rem 0rem 1rem;
    font-weight: bold;
    color: white;
    border: 0.2rem white solid;
    background-color: transparent;
    border-radius: 2rem;
    line-height: 1.5rem;
    flex: 1;
    justify-content: right;
}
li.nav-items
{
    border-bottom: transparent solid 0.3rem;
}
li.nav-items:hover
{
    border-bottom: 0.3rem solid white;
}
#account-panel
{
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 15rem;
    background-color: rgb(255,49,49);
    color: white;
    padding: 1rem;
    border: lightgray solid 2px;
    border-radius: 1rem 0 0 1rem;
    box-sizing: border-box;
}
h2 
{
    margin: 0;
    padding-bottom: 1rem;
}
#account-panel > div
{
    line-height: 2rem;
}